on:
  schedule:
    # runs every sunday at 4:00 AM UTC = 12PM ET
    - cron:  '0 4 * * SUN'
  workflow_dispatch:

name: Update OTC Player Details

jobs:
  update:
    name: update player details
    runs-on: ubuntu-latest
    # timeout-minutes: 20
    env:
      GITHUB_PAT: ${{ secrets.NFLVERSE_GH_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 1
          extra-packages: |
            nflverse/nflverse-data
            nflverse/nflreadr
            local::.
      - name: Run otc player details update script
        run: Rscript -e 'source("data-raw/release_otc_player_details.R")'
